<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Generic App setting Values-->
    <add key="Percent" value="100"/>
    <add key="MonthCountOfYear" value="12"/>
    
    <!--Generic COR Chain slab cutoff values -->
    <add key="taxSlabOneRange" value="0"/>
    <add key="taxSlabTwoRange" value="18200"/>
    <add key="taxSlabThreeRange" value="37000"/>
    <add key="taxSlabFourRange" value="80000"/>
    
     <!--Generic COR Chain slab range values -->
    <add key="taxSlabOneRangeEnd" value="0"/>
    <add key="taxSlabTwoRangeStart" value="18200"/>
    <add key="taxSlabTwoRangeEnd" value="18200"/>
    <add key="taxSlabThreeRangeStart" value="37000"/>
    <add key="taxSlabThreeRangeEnd" value="37000"/>
    <add key="taxSlabFourRangeStart" value="80000"/>  
    <add key="taxSlabFourRangeEnd" value="80000"/>  
    <add key="taxSlabFiveStart" value="180000"/>  
    

  </appSettings>
</configuration>